<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/main.css" />
    <title>Live Streaming - ESPCam x OpenCV</title>
  </head>
  <body>
    {% include "header.html" %}
    <div id="app">
      <div>{% include "video.html" %}</div>
      <div>{% include "controls.html" %}</div>
      <div class="log-wrapper">{% include "logs.html" %}</div>
    </div>
  </body>
</html>
